.employment.section {
  @media and (max-width: 1199px) {
    display: none;
  }
}

.employment-list {
  display: flex;
  flex-wrap: wrap;
}

.employment__item {
  margin-top: 0;
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.employment__overlay {
  position: relative;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
  width: 370px;
  height: 70px;
}

.employment-overlay__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 82px;
  color: var(--accent-filters-color);
  text-align: center;
  @include font(14px, 500, 16px, 0.03em);
  text-transform: uppercase;
}
