.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer__container {
  @include media(320px) {
    text-align: center;
  }
  @include media(1200px) {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

.footer-top {
  @include media(768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway;
  @include font(24px, 700, 28px, 0.03em);
  @include media(1200px) {
    @include font(26px, null, 31px, null);
  }
}

.footer-web-color {
  color: var(--accent-filters-color);
  @include font(24px, 700, 28px, 0.03em);
  @include media(1200px) {
    @include font(26px, null, 32px, null);
  }
}

.footer-address__item {
  font-style: normal;
  @include font(14px, 400, 24px, 0.03em);
  &:not(:last-child) {
    margin-bottom: 8px;
    @include media(1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-address__link {
  text-align: center;
  color: var(--accent-filters-color);
}

.footer-mail__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--address-list-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-tel__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--address-list-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-socials {
  align-items: center;
  margin-top: 60px;
  @include media(768px) {
    margin-top: 0;
  }
  @include media(1200px) {
    margin-left: 70px;
  }
}

.footer-socials__title {
  margin-bottom: 20px;
  color: var(--accent-filters-color);
  @include font(14px, 700, 16px, 0.03em);
  text-transform: uppercase;
}

.footer-socials-list {
  @extend %align-list;
  justify-content: center;
}

.footer-socials__item + .footer-socials__item {
  margin-left: 10px;
}

.footer-socials__link {
  @extend %align-list;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-color);
  color: var(--accent-filters-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-spam {
  @media (min-width: 350px) and (max-width: 1199px) {
    margin-top: 60px;
  }
  @include media(1200px) {
    margin-left: 93px;
  }
}

.footer-spam__title {
  margin-bottom: 20px;
  color: var(--accent-filters-color);
  @include font(14px, 700, 16px, 0.03em);
  text-transform: uppercase;
  @include media(1200px) {
    display: flex;
  }
}

.footer-form {
  @include media(1200px) {
    display: flex;
  }
}

.footer-form-input {
  @include media(768px) {
    display: flex;
    justify-content: center;
  }
}

.footer-spam-email__input {
  @extend %align-list;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include font(16px, 500, 20px, 0.03em);
  @include media(768px) {
    width: 450px;
  }
  @include media(1200px) {
    width: 358px;
  }
}

.footer-spam__btn {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin-left: 12px;
  padding: 13px 28px;
  width: 200px;
  height: 50px;
  color: var(--accent-filters-color);
  background: var(--accent-color);
  text-decoration: none;
  @include font(16px, 700, 30px, 0.06em);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-spam__icon {
  margin-left: 10px;
  color: var(--accent-filters-color);
}
