.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  @extend %align-list;
}

.navigation {
  @extend %align-list;
}

.header__logo {
  display: inline-block;
  padding-top: 24px;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway;
  @include font(26px, 700, 31px, 0.03em);
}

.header-web-color {
  color: var(--header-text-color);
}

.nav-list {
  //display: flex;
  display: none;
  margin-left: auto;
  @include font(14px, 500, 16px, 0.02em);
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-link {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list {
  display: none;
  //display: flex;
  margin-left: auto;
  @include font(14px, 500, 16px, 0.02em);
}

.contact-list__item + .contact-list__item {
  margin-left: 50px;
}

.contact-link-mail {
  @extend %align-list;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--link-list-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-link-tel {
  @extend %align-list;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--link-list-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
  }
}

.contact-link.current[href="./portfolio.html"] {
  color: var(--accent-color);
}

.header-contact-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.menu-open-btn {
  display: block;
  margin-left: auto;

  background-color: transparent;
}

.menu-open {
}

.menu-mob {
}
