.title {
  /*margin-bottom: 50px;*/
  margin-bottom: 30px;
  color: var(--header-text-color);
  text-align: center;
  @include font(28px, 700, 33px, 0.03em);

  /*@media screen and (min-width: 768px) {
    margin-bottom: 30px;
    @include font(28px, null, 33px, null);
  }*/
}
